.container {
  width: 700px;
  margin: 0 auto;
}

.article {
  /* border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); */
  margin: 20px;
  padding-inline: 10px;

}

.navbar {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Lucida Console;
}
.wikinimous {
  padding: 5px;
  text-decoration: none;
}

.new-article {
  padding: 5px;
  text-decoration: none;
}

.title {
  color: cornflowerblue;
  margin: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.article-content {
  color: gray;
  margin: 1px;
  padding: 0;
}

form {
  display:flex;
  flex-direction: column;
}

.submit-button {
  width: 100px;
  height: 30px;
  border: none;
}

.content-text-field {
  height: 200px;
  border-radius: 5px;
}

.title-text-field {
  border-radius: 5px;
}
input {
  margin-bottom: 10px;
}
textarea {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100px;
}
